name: CI
on: [push]

env:
  ZINNIA_VERSION: v0.20.2
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: curl -L https://github.com/filecoin-station/zinnia/releases/download/${{ env.ZINNIA_VERSION }}/zinnia-linux-x64.tar.gz | tar -xz
      - uses: actions/setup-node@v4
      # Disabled to avoid https://github.com/standard/standard/issues/1976
      # - run: npx standard
      - run: ./zinnia run test.js

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: robinraju/release-downloader@v1.11
        with:
          repository: 'filecoin-station/zinnia'
          tag: ${{ env.ZINNIA_VERSION }}
          fileName: zinnia-windows-x64.zip
          extract: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: ./zinnia.exe run test.js
